body {
  background-image: url("/img/background.svg");
  background-size: cover;
}

article.index-content {
  margin: 80px 0;
}

@media (max-width: 991px) {
  article.index-content {
    margin: 0;
  }
}

article.index-content .container .row {
  font-size: 22px;
  text-align: center;
  font-weight: 900;
}

@media (max-width: 991px) {
  article.index-content .container .row .left-block {
    margin-bottom: 35px;
  }
}

article.index-content .container .row .left-block .col-6 {
  margin-top: 20px;
}

article.index-content .container .row .left-block .col-6:nth-child(odd) {
  padding-right: 0;
}

article.index-content .container .row .left-block .col-6:nth-child(even) {
  padding-left: 0;
}

article.index-content .container .row .left-block .col-6 .w-100 {
  height: 250px;
}

@media (max-width: 991px) {
  article.index-content .container .row .left-block .col-6 {
    margin-top: 35px;
  }
  article.index-content .container .row .left-block .col-6 .w-100 {
    height: 200px;
  }
}

@media (max-width: 576px) {
  article.index-content .container .row .left-block .col-6 .w-100 {
    height: 180px;
  }
}

article.index-content .container .row .right-block .col-12 {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #11476D;
  padding: 15px 10px;
}

article.index-content .container .row .right-block .col-12 .info-block {
  margin-bottom: 20px;
}

article.index-content .container .row .right-block .col-12 .info-block:hover .border-side .info-content {
  background-color: #F28B44;
}

article.index-content .container .row .right-block .col-12 .info-block:hover .border-side .info-content p {
  color: white;
}

article.index-content .container .row .right-block .col-12 .info-block:hover .border-side .info-content div {
  color: white;
}

article.index-content .container .row .right-block .col-12 .info-block .border-side {
  width: 100%;
  border-radius: 5px;
  background-color: #EFB086;
  padding: 0 4px 4px 0;
}

article.index-content .container .row .right-block .col-12 .info-block .border-side .info-content {
  width: 99%;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  padding: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 991px) {
  article.index-content .container .row .right-block .col-12 .info-block .border-side .info-content {
    padding: 10px 20px;
  }
}

article.index-content .container .row .right-block .col-12 .info-block .border-side .info-content p {
  margin: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

article.index-content .container .row .right-block .col-12 .info-block .border-side .info-content div {
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

article.index-content .container .row .right-block .col-12 .more-btn {
  text-align: right;
  margin-top: 50px;
}

@media (max-width: 991px) {
  article.index-content .container .row .right-block {
    background-color: #11476D;
    width: 100vw;
  }
  article.index-content .container .row .right-block span.title {
    color: white;
    border-bottom: 2px solid white;
  }
}

article.index-content .container .row span.title {
  display: inline-block;
  padding: 0 0 8px 0;
  width: 100%;
  border-bottom: 2px solid black;
}

@media (max-width: 991px) {
  article.index-content .container .row span.title {
    color: black;
    padding: 45px 0 35px 0;
    font-size: 32px;
    font-weight: 900;
    border-bottom: 2px solid black;
  }
}
/*# sourceMappingURL=index.css.map */