$font-size-h1: 2.14285rem; //30px
$font-size-h2: 1.7142rem; //24px
$font-size-h3: 1.4285rem; //20px
$font-size-h4: 1.2857rem; //18px
$font-size-p: 1rem; //14px

$color-blue:#11476D;
$color-orange:#F28B44;

html {
    font-size: 0.875rem;
}

*{
    font-family: 'Times New Roman', "微軟正黑體", Times, serif;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

body{
    background-image: url('/img/background.svg');
    background-size: cover;
    margin: 0;
}

@media (max-width:991px){
    .bg{
        background-color:#11476D;
    }
}



// navbar - start

.navbar {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: $color-orange !important;
    border-radius: 0 0 60px 60px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 100%;
        background-color: $color-blue;
        border-radius: 0 0 20px 20px;
    }

    .navbar-toggler{
        background-color: white;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        padding: 7px 0 0 9px;
        
        i{
            font-size: 30px;
            color: black;
        }
    }


    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        .logo {
            display: flex;
            align-items: center;

            img {
                width: 80px;
                height: 80px;
                margin-right: 30px;
            }

            h1 {
                font-size: $font-size-h1;
                line-height: $font-size-h1;
                margin-bottom: 0;
                font-weight: bold;
            }

            h2 {
                font-size: $font-size-h2;
                line-height: $font-size-h2;
                margin-bottom: 7.5px;
                font-weight: bold;
            }

            @media (max-width: 991px){
                img{
                    margin-right: 0px;
                    height: 60px;
                    width: 60px;
                }

                h1,
                h2{
                    display: none;
                }
            }
        }
    }

    .navbar-search-icon{
        display: none;
    }

    .navbar-collapse {
        flex-wrap: wrap;

        .navbar-nav {
            width: 100%;
            justify-content: flex-end;
        }

        #sub_nav {
            margin-bottom: 14px;

            @media (min-width: 992px) {
                .nav-item {
                    position: relative;
                    display: flex;
                    align-items: center;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 19px;
                        background-color: white;
                    }

                    &:last-child::after {
                        display: none;
                    }
                    .nav-link {
                        color: white;
                        border: none;
                        font-size: $font-size-p;
                        @media (min-width: 992px) {
                            padding: 0;
                            margin-right: 15px;
                            margin-left: 15px;
                        }

                        &.btn{
                            line-height: 20px;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 1px solid white;

                            &.active{
                                background-color: white;
                                color: $color-blue;
                            }
                        }
                    }

                    #nav_small_text_btn{
                        font-size: 0.9rem;
                    }

                    #nav_big_text_btn{
                        font-size: 1.1rem;
                    }
                }
                
                .nav_search_form{
                    margin-left: 15px;
                    width: 255px;
                    
                    form{
                        position: relative;

                        input{
                            border-radius: 15px;
                            padding-right: 35px;
                            line-height: 2.5;
                        }
                        i.fa-search{
                            font-size: 20px;
                            position: absolute;
                            right: 12px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        #main_nav {
            li{
                &:last-child{
                    margin: auto;
                    width: 200px;
                    a{
                        margin-top: 20px;
                        margin-bottom: 20px;
                        border: 1px solid white;
                    }
                }
            }
         
            @media (min-width: 992px) {
                .nav-link {
                    padding: 6.5px 18px 5px 18px;
                    border-radius: 15px;
                    background-color: white;
                    color: $color-blue;
                    font-weight: bold;
                    font-size: $font-size-h3;
                    line-height: $font-size-h3;
                    margin-left: 22.25px;
                }
                li{
                    &:last-child{
                        display: none;
                    }
                }
            }

            @media (max-width: 1190px) {
                .nav-link {
                    font-size: 15px;
                    margin-left: 8.25px;
                }
            }
        }
    }

    @media (max-width:991px) {
        &::before {
            height: 10px;
        }
        
        .container{
            justify-content: space-between;
        }

        .navbar-brand{
            margin-right: 0;
            order: 2;
        }

        .navbar-search-icon{
            display: block;
            width:45px;
            height: 45px;
            background-color: white;
            border-radius: 50%;
            padding: 7px 0 0 7px;
            order: 3;

            i{
                font-size: 30px;
                color: black;
            }
        }

        .navbar-toggler{
            order: 1;
        }

        .navbar-collapse{
            order: 5;
            text-align: center;
            
            #main_nav{
                padding: 20px 0 0 0;
                li{
                    a{
                        color: white !important;
                        font-size: 20px;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    nav.navbar{
        padding-top: 20px;
        padding-bottom: 10px;
        border-radius: 0 0 30px 30px;
    }
}

// navbar - end


//footer - start
footer.footer{
    width: 100%;

    .sub-footer{
        padding: 20px 0;
        background-color: white;
        .d-flex{
            img{
                width: 60px;
                height: 60px;
                margin-right: 10px;
            }
            .text-block{
                padding-top: 5px;
                span{
                    font-size: 18px;
                    font-weight: 900; 
                }
                 p{
                    font-size: 20px;
                    font-weight: 900; 
                    margin-bottom: 0;
                }
            }
        }
    }

    .main-footer{
        padding: 50px 0 50px 0;
        background-color: #11476D;
        border-radius:25px 25px 0 0;
        .container{
            .row{
                .left-block{
                    margin-right: 8%;
                    text-align: center;
                    img{
                        width: 100px;
                        height: 100px;
                        margin-bottom: 16px;
                    }
                    p{
                        font-weight: 600;
                        color: white;
                        font-size: 16px;
                        line-height: 12px;
                    }
                }
            
                .mid-block{
                    padding-top: 25px;
                    p{
                        line-height: 16px;
                        font-size: 18px;
                        color: white;
                    }
            
                    a{
                        margin-right: 10px;
                        color: yellow;
                        text-decoration: underline;
                    }
                    span{
                        color: white;
                    }
                }
            
                .right-block{
                    padding-top: 115px;
                    text-align: right;
                    span{
                        color: white;
                    }
                }
    
                @media (max-width:992px){
                    letter-spacing: 2.5px;
                    .mid-block{
                        padding-top: 0px;
                        text-align: left;
                        order: 1;
                        margin-bottom: 10px;

                        p{  
                            font-size: 14px;
                            margin-bottom: 5px;
                        }
                    }
                    .right-block{
                        font-size: 14px;
                        padding-top: 0px;
                        text-align: left;
                        order: 2;

                        div{
                            margin-top: 10px;
                            span{
                                &:nth-child(4){
                                    display: inline-block;
                                    margin-top: 8px;
                                }
                            }
                            a{
                                margin-right: 10px;
                                color: yellow;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            @media (max-width:991px){
                padding: 0;
                width: 325px;
                margin: auto;
            }
        }

        @media (max-width:991px){
            padding: 20px 0 20px 0;
        }
    }
}

//footer - end

//nowPage-info - start
.page-padding{
    padding: 80px 0;

    @media (max-width:991px){
        padding:0 0 40px 0;
    }

    .row.nowPage-info{
        margin-bottom: 80px;
        background-color:#11476D;

        @media (max-width:991px){
            margin-bottom: 40px;
        }

        .col-lg-6{
            padding: 0 100px 5px 100px;
            text-align: right;

            @media (max-width:991px){
                padding: 0 10px 5px 40px;
                text-align: left;
            }

            &:first-child{
                text-align: left;
                color: white;
    
                p{
                    margin:8px 0 5px 0;
                    font-size: 32px;
                    font-weight: 900;
                }
    
                span{
                    font-size: 20px;
                }
            }
            img{
                height: 100px;
            }
        }
    }

    a{
        color: white;
        text-decoration: none;
    }
}


//nowPage-info - end
