

article.TM-content{
    .container{

        .row.filter-bar-pc{
            padding: 20px 100px;
            border-bottom: 1px solid #969696;
            margin-bottom: 40px;

            .filter-select-block{
                padding: 0 18px;
                border-left: 1px solid #969696;

                a{
                    font-size: 20px;
                    font-weight: 700;
                    color: black;
                    text-decoration: none;
                    transition: .1s;

                    &:hover{
                        color: #E46005;
                    }
                }

                span{
                    font-size: 18px;
                    font-weight: 900;
                }

                select{
                    background-color:#BFE3EF;
                    border: none;
                    height: 30px;
                    border-radius: 5px;
                }

                .upload-TM{
                    border-radius: 5px;
                    background-color: #11476D;
                    padding: 3px 20px;
                    color: white;
                    font-size: 16px;
                    font-weight: 900;
                    cursor: pointer;
                }
            }

         
        }

        .row.filter-bar-mobile{
            display: none;

            @media (max-width:991px) {
                display:block;
                margin-bottom: 40px;

                .col-12{

                    a.w-100{
                        // padding: 0 15px;
                        margin-bottom: -7px;
                        z-index: 2;
                    }
    
                    .filter-collapse-title{
                        padding: 5px 10px;
                        background-color: #BFE3EF;
                        color: black;
                        font-size: 20px;
                        font-weight: 900;
                        text-align: left;
                        border-radius: 7px;

                        .arrow-icon{
                            width: 20px;
                            transition: .5s;

                            &.active{
                                transform: rotate(180deg);
                            }
                        }

                    }
                    .collapse{
                        margin-bottom: 20px;
    
                        .card-body{
                            padding: 7px 0 0 0;
    
                            .filter-option{
                                font-size: 22px;
                                font-weight: 900;
                                text-align: center;
                                padding: 10px 0;
                                border-left: 1px solid #BFE3EF;
                                border-right: 1px solid #BFE3EF;
                                border-bottom: 1px solid #BFE3EF;
                            }
                        }
                    }

                    .upload-TM{
                        text-align: center;
                        color: white;
                        font-size: 20px;
                        font-weight: 900;
                        padding: 5px 0;
                        border-radius: 7px;
                        background-color:#0B3059;
                    }
                }
            }
        }

        .content-info{
            .content-info-block{
                position: relative;
                height: 255px;
                border-radius: 10px;
                background-size: cover;
                background-position: center;
                margin-bottom: 30px;
                overflow: hidden;
                cursor: pointer;

                .mask{
                    position: absolute;
                    left: 0;
                    bottom: -80%;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.7);
                    transition: 0.4s;
                    padding-top: 10px;
                    text-align: center;
                    color: white;

                    p{
                        font-size: 22px;
                        font-weight: 900;
                    }
                }
                &:hover{
                    .mask{
                        padding-top: 25%;
                        bottom: 0%;
                    }
                }
            }


            .collapse{

                &.show{
                    &.left{
                        &::before{
                            position: absolute;
                            top: -30px;
                            left: 14%;
                            content: " ";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 17.5px 33px 17.5px;
                            border-color: transparent transparent #BFE3EF transparent;
                        }
                    }
                    &.mid{
                        &::before{
                            position: absolute;
                            top: -30px;
                            left: 47%;
                            content: " ";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 17.5px 33px 17.5px;
                            border-color: transparent transparent #BFE3EF transparent;
                        }
                    }
                    &.right{
                        &::before{
                            position: absolute;
                            top: -30px;
                            right: 15%;
                            content: " ";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 17.5px 33px 17.5px;
                            border-color: transparent transparent #BFE3EF transparent;
                        }
                    }
                }

                .extent-block{
                    padding: 35px 90px;
                    width: 100%;
                    background-color: #BFE3EF;
                    border-radius: 5px;
                    margin-bottom: 30px;

                    @media (max-width:991px){
                        padding: 20px 30px;
                        flex-wrap: wrap;
                    }

                    .title{
                        font-size: 24px;
                        font-weight: 800;

                        @media (max-width:991px){
                            margin-bottom: 10px;
                        }

                    }

                    .download{
                        padding: 0 50px;
                        border-right: 1px solid #11476D;

                        @media (max-width:991px){
                            padding: 0 10px 20px 10px;
                            border-right: none;
                            border-bottom: 1px solid #11476D;
                            margin-bottom: 20px;
                        }

                        .download-btn{
                            cursor: pointer;
                            width: 83px;
                            height: 83px;
                            font-size: 16px;
                            color: white;
                            text-align: center;
                            background-color: #11476D;
                            border-radius: 10px;
                            padding-top: 20px;
                            transition: .2s;

                            &:hover{
                                background-color: #F28B44;
                            }

                            i{
                                font-size: 20px;
                            }
                        }
                    }

                    .share{
                        padding: 0 50px;

                        @media (max-width:991px){
                            padding: 0 10px;
                        }

                        .share-btn{
                            cursor: pointer;
                            width: 83px;
                            height: 83px;
                            background-color: #11476D;
                            border-radius: 50%;
                            transition: .2s;
                            text-align: center;
                            padding-top: 17px;

                            &:hover{
                                background-color: #FF4343;
                            }

                            i{
                                font-size: 50px;
                                color: white;
                            }

                            @media (max-width:991px){
                                width: 60px;
                                height: 60px;

                                i{
                                    font-size: 30px;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}